<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer">
    <link rel="icon" type="image/svg+xml" href="favicon.svg" sizes="any">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% seo %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div>
        <div style="float: left;">
          <div class="index-title"><a style="color: #222;" href="http://jdrupes.org">JDrupes</a></div class="index-title">
          <div class="index-subtitle">By <a href="https://github.com/mnlipp">Michael N. Lipp</a></div class="index-subtitle">
          <p><a rel="me" href="https://fosstodon.org/@mnl"><img alt="Mastodon Follow" 
            src="https://img.shields.io/mastodon/follow/108843609567976408?domain=https%3A%2F%2Ffosstodon.org&style=social"></a></p>
        </div>
        <div style="float: right; width: 7em;">
          <img alt="Logo" src="JDrupes.svg">
        </div>
        <div style="clear:both;"></div>
        </div>
        <p></p>
      </header>
      <section>
        <div class="post-date"><span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</span></div>
        {% if page.tocTitle %}
          <h1>{{ page.tocTitle }}</h1>
          {% include toc.html html=content %}
        {% endif %}
      
        {{ content }}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; <a href="https://github.com/site/terms">Terms</a>
        &mdash; <a href="https://github.com/site/privacy">Privacy</a> 
        &mdash; Theme derived from <a href="https://github.com/orderedlist/minimal">minimal</a></small></p>
      </footer>
    </div>

    {% include matomo-jdrupes.org.html %}

  </body>
</html>
